.main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }

  @media (max-width: 998px) {
    .main-card--cointainer {
      display: grid;
      grid-template-columns: repeat(1, minmax(200px, 500px));
      grid-gap: 50px;
      justify-content: space-around;
    }
  }
